#header{
   float:left;
   
   background-color: #4286f4;
   width: 100%;
   height:200px; /*height of your image*/
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
   
}
.first{
    position:absolute;
    top:150; 
}
#topbar{
    
}