#header{
   float:left;
   
   background-color: #4286f4;
   width: 100%;
   height:200px; /*height of your image*/
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
   
}
.first{
    position:absolute;
    top:150; 
}

@media (max-width: 768px) { h4{font-size: 10px;}}
@media (min-width: 768px) { h4{font-size: 13px;}}
@media (min-width: 992px) { h4{font-size: 15px;}}
.photos img {
    
}
.photos img:nth-of-type(1) {
    left: 50px;
    top: 350px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}
 
.photos img:nth-of-type(2) {
    left: 150px;
    top: 400px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
 
.photos img:nth-of-type(3) {
    
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
}
 
.photos img:nth-of-type(4) {
    
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
 
.photos img:nth-of-type(5) {
    
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}
.photos img:hover {
    -webkit-transform: rotate(380deg) scale(1.5);
    -moz-transform: rotate(380deg) scale(1.5);
    -o-transform: rotate(380deg) scale(1.5);
    transform: rotate(380deg) scale(1.5);
    z-index: 10;
}
.photos img {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    padding: 10px 10px 30px 10px;
    background: white;
    border: solid 1px black;
}